<h1>Por Pais</h1>
<hr>
<div class="row">
    <div class="col">
        <app-paises-input
            (onEnter)="buscar($event)"
            (onDebouce)="sujerencias ($event)"
            placeholder="Por Pais.."
            ></app-paises-input>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    no se encontro nada con el termino {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-paises-tabla [paises]="paises"></app-paises-tabla>
    </div>
</div>